@media all {

    .topln {
        height: 0px;
        color: #AAAAAA;
        width: 65%;
        border: none;
        background-color: #AAAAAA;
        border-style: solid;
        border-width: 2px 0 0;
        clear: both;
        margin-top: 55px;
        
    }

    header {
        text-align: center;
    }

    .heading {
        text-align: center;
        margin: 5px;
        text-decoration: underline;
        font-weight: bold;
        font-size: larger;
        min-width: 500px;
        width: 100%;
       
    }


    #htproc {
        margin: 15px;
    }
    .rptlbl {
    width: 200px;
    height: 22px;
    }
    label {
        float: right;
        width: 50px;
        margin-left: 25px;
        height: 15px;
    }


    #Chemistry, #Physical, #Microstructure {
        text-align: center;
        width: 100%;
    }

}

/**************************************
    End of All Media, now Print options
***************************************/
@media print {

    /* Hide the date picker items when printing the cert.*/
    input[type="date"]::-webkit-inner-spin-button, input[type="datetime"]::-webkit-inner-spin-button, input[type="datetime-local"]::-webkit-inner-spin-button, input[type="month"]::-webkit-inner-spin-button, input[type="time"]::-webkit-inner-spin-button, input[type="week"]::-webkit-inner-spin-button, input::-webkit-calendar-picker-indicator, input::-webkit-clear-button   {
        visibility: hidden;
}

    #Chemistry, #Physical, #Microstructure {
/*
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
        -webkit-column-width: auto; 
        -moz-column-width: auto; 
        column-width: auto;
        column-rule-style: solid;
        column-rule-color: #4cff00;*/
        text-align: center;
        width: 100%;
        margin: 0px;
        
    }


	.dataent{
	/*	column-count:3;
	/*	-moz-column-count:3; /* Firefox */
	/*	-webkit-column-count:3; /* Safari and Chrome */
	/*
		-moz-column-width:300px; 
		-webkit-column-width:300px;
		column-width:300px;
        grid-column-align: stretch;*/
        margin: 14px;
        margin-bottom: 15px;
        height: auto;
        padding: 15px;
        width: 100%;
        float: left;
	}

    input {
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: #000;
}    
    .rptlbl {
    width: 200px;
    height: 22px;
    float: left;
}
    label {
        border-bottom-color: #AAAAAA;
        border-bottom-style: solid;
        float: right;
}

    
} /* End of print area.*/

/**************************************
    End of Print, now Screen options
***************************************/
@media screen {
    .rptlbl {
    width: 200px;
    height: 22px;
    float: left;
}
    label {
        border-bottom-color: #AAAAAA;
        border-bottom-style: solid;
}


}